// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//maybe a little test right here
.littletest {
	a {
		color: pink;
		&:visited	{
			color: orange;
		}
		&:hover {
			color: purple;
		}
	}
}
